    <footer>
      <div class="footer">
        <h2><b>Department of Computer Science and Engineering</b></h2>
         <p>395 Dreese Laboratories<br/>
          2015 Neil Avenue<br/>
          Columbus, OH, 43210-1277</p>
        <p>(614) 292-5813 Phone</p>
        <p>(614) 292-2911 Fax</p>
        <ul class="social">
          <li><a href="https://www.facebook.com/OSUCSE/" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/osuengineering" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.youtube.com/user/OhioStateCSE" target="_blank"><i class="fa fa-youtube"></i></a></li>
          <li><a href="https://www.linkedin.com/company/the-ohio-state-university-college-of-engineering" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
        </ul>
      </div>
      <div class="footer-bottom">
        <p>copyright &copy;2022 CSE 3901. designed by GROUP 3</p>
      </div>
    </footer>