  <div class="header">
      
      <br>
      <h1>Radu Teodorescu</h1>
      <br>
      <h2>The Ohio State University</h2>
      <img id = "block-o" alt="logo" src= "images/ohiostatelogo.png" >
  </div>
  <div class="btn-group">
    <nav>
      <ul>
        <li><a href="index.html">About Me</a></li>
        <li><a href="publications.html">Publications</a></li>
        <li><a href="presentations.html">Presentations</a></li>
        <li><a href="https://web.cse.ohio-state.edu/~teodorescu.1/arch/index.html" target="_blank">Research</a></li>
        <li><a href="https://web.cse.ohio-state.edu/~teodorescu.1/arch/tools/tools.html" target="_blank">Tools</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>
  </div>
