---
title: Contact | Radu Teodorescu
---

<div id = "content">
    <h2>Contact</h2>
    <br>
    <strong>Email</strong>
    <p><a href="mailto:teodorescu.1@osu.edu">teodorescu.1@osu.edu</a></p>
    <br>
    <strong>Office</strong>
    <p>797 Dreese Labs</p>
    <p>2015 Neil Ave.</p>
    <p>Columbus, OH, 43210</p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12225.093873383013!2d-83.02466596274532!3d40.002338707673886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88388e96732423c1%3A0xc18a2f8aed8d8b53!2sDreese%20Lab!5e0!3m2!1sen!2sus!4v1647807551228!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>
