---
title: Radu Teodorescu
---
  <body>
    <div id = "content">
      <img id="picture" src="images/pict0101-2.jpg" />
      <p>I was born in <a href="https://en.wikipedia.org/wiki/Cluj-Napoca" target="external">Cluj-Napoca</a>, in the beautiful province of <a href="https://www.visittransilvania.ro/" target="external">Transilvania</a> in Romania. I received an Engineer Diploma from the <a href="https://www.utcluj.ro/" target="external">Technical University of Cluj-Napoca</a> in 2002. I am a Professor in the <a href="http://www.cse.ohio-state.edu/" target="external">Department of Computer Science and Engineering</a> at <a href="http://www.osu.edu/" target="external">Ohio State University</a>. I lead the<strong> </strong><strong><a href="http://www.cse.ohio-state.edu/~teodores/arch/index.html" target="self" title="Research">Architecture Research Lab</a></strong>. Our research interests include computer architecture, energy efficient computing, security and reliability. </p>
      <p>I received my Ph.D. from the <a href="http://www.cs.uiuc.edu" target="self">Department of Computer Science</a>, <a href="http://www.uiuc.edu" target="self">University of Illinois at Urbana-Champaign</a> where I was a member of the <a href="http://iacoma.cs.uiuc.edu" target="self">IACOMA</a> group working with <a href="http://iacoma.cs.uiuc.edu/~torrella/" target="self">Prof. Josep Torrellas</a>. I was the recipient of the Ohio State CSE Department Teaching Award in 2021, the <a href="https://engineering.osu.edu/awards/content/lumley-research-award" target="self">Lumley Award</a> in 2014, an <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1253933&HistoricalAwards=false" target="self">NSF CAREER award</a> in 2012, <a href="http://www.intel.com/content/www/us/en/education/university/intel-phd-fellowship-program.html" target="self">Intel Foundation Fellowship</a> for 2007-2008 and the <a href="http://cs.illinois.edu/csillinois/awards#2007-2008" target="self">W. J. Poppelbaum Award</a> for 2008. We were proud to help organize<a href="https://www.microarch.org/micro52/"> MICRO-52 in Columbus, Ohio</a> in October 2019.</p>
      <p>I am looking for bright and motivated students to join my research group. For more details and research updates please visit <a href="http://arch.cse.ohio-state.edu" target="self">my group&rsquo;s website</a>. If you are interested in working with us send me an email or drop by my <a href="contact/contact.html" target="self" title="Contact">office</a>.</p>
      <p>I currently teach <a href="https://coe-portal.cse.ohio-state.edu/pdf-exports/CSE/CSE-3421.pdf" target="external">CSE3421</a>, Introduction to Computer Architecture and <a href="https://coe-portal.cse.ohio-state.edu/pdf-exports/CSE/CSE-6421.pdf" target="external">CSE6421</a>, Computer Architecture.</p>
      <br/>
      <br/>
      <br/>
      </div>
      <hr>
      <div id = "content">
      <h3>Select publications:</h3>
      <ul>
        <li><span style="font:12px &#39;Lucida Grande&#39;, LucidaGrande, Verdana, sans-serif; color:#FF0000;">*new* </span><a href="resources/IEEE_HOST_2021_paper_74-3.pdf">Using Undervolting as an On-Device Defense Against Adversarial Machine Learning Attacks</a>, IEEE International Symposium on Hardware Oriented Security and Trust (<strong>HOST</strong>), December 2021</li>
        <li><span style="font:12px &#39;Lucida Grande&#39;, LucidaGrande, Verdana, sans-serif; color:#FF0000;">*new*</span><span style="font:12px &#39;Lucida Grande&#39;, LucidaGrande, Verdana, sans-serif; color:#000000;"> </span><a href="resources/introspectre-isca2021.pdf">IntroSpectre: A Pre-Silicon Framework for Discovery and Analysis of Transient Execution Vulnerabilities</a>, International Symposium on Computer Architecture (<strong>ISCA</strong>), June 2021</li>
        <li><span style="font:12px &#39;Lucida Grande&#39;, LucidaGrande, Verdana, sans-serif; color:#FF0000;">*new*</span><span style="font:12px &#39;Lucida Grande&#39;, LucidaGrande, Verdana, sans-serif; color:#000000;"> </span><a href="https://dl.acm.org/doi/fullHtml/10.1145/3399670">RNNFast: An Accelerator for Recurrent Neural Networks Using Domain Wall Memory</a>, ACM Journal on Emerging Technologies in Computing Systems, (<strong>JETC</strong>) 2020 </li>
        <li><span style="font:12px &#39;Lucida Grande&#39;, LucidaGrande, Verdana, sans-serif; color:#FF0000;">*new*</span> <a href="https://www.ndss-symposium.org/ndss-paper/speechminer-a-framework-for-investigating-and-measuring-speculative-execution-vulnerabilities/">SPEECHMINER: A Framework for Investigating and Measuring Speculative Execution Vulnerabilities</a>, Network and Distributed System Security Symposium (<strong>NDSS</strong>), 2020</li>
        <li><a href="http://web.cse.ohio-state.edu/~teodorescu.1/resources/papers/specshield_pact2019.pdf">SpecShield: Shielding Speculative Data from Microarchitectural Covert Channels</a>, International Conference on Parallel Architectures and Compilation Techniques (<strong>PACT</strong>), <span style="color:#FF0000;font-weight:bold; ">MICRO Top Picks 2019 honorable mention</span></li>
        <li><a href="https://ieeexplore.ieee.org/document/8714070">Isolating Speculative Data to Prevent Transient Execution Attacks</a>, Computer Architecture Letters (<strong>CAL</strong>), 2019, <span style="color:#FF0000;font-weight:bold; ">Best of CAL 2019</span></li>
        <li><a href="https://dl.acm.org/doi/10.1145/3318216.3363312">Adaptive parallel execution of deep neural networks on heterogeneous edge devices</a>, ACM/IEEE Symposium on Edge Computing, (<strong>SEC</strong>), 2019</li>
        <li><a href="https://ieeexplore.ieee.org/document/8615722">NVCool: When Non-Volatile Caches Meet Cold Boot Attacks</a>, IEEE International Conference on Computer Design (<strong>ICCD</strong>), 2018</li>
        <li><a href="https://ieeexplore.ieee.org/document/7967116">Respin: Rethinking Near-Threshold Multiprocessor Design with Non-Volatile Memory</a><strong>,</strong> IEEE International Parallel and Distributed Processing Symposium (<strong>IPDPS</strong>), May 2017 </li>
        <li><a href="http://ieeexplore.ieee.org/document/7783757/" target="self">Snatch: Opportunistically Reassigning Power Allocation between Processor and Memory in 3D Stacks</a>, International Symposium on Microarchitecture (<strong>MICRO</strong>), October 2016 </li>
      </ul>
    </div>
    <div class="button">
        <button class="btn-1"><a href="publications.html">Complete List</a></button>
    </div>
  </body>

